@font-face {
    font-family: courierstuck;
    src: url("fonts/courierstuck.ttf");
}

.bg {
    background-image: url("media/FANTASTIC WEBSITE.gif");
}

.front {
    width: 80%;
    background-color: lightgray;
    justify-self: center;
    position:  relative;
    height: 100%;
    top: -10px;
}

.stuck {
    font-family: courierstuck;
    font-size: 2em;
}

.center {
    justify-self: center;
    text-align: center;
}

#rpa {
    color: pink;
    text-shadow: 6px 6px 0px dimgray;
}

.title {
    font-size: 6em;
}

.subtitle {
    font-size: 1em;
    color: gray;
}