header{
    background-color: aqua;
}

hr{
    color:black;
}

h1 {
    text-shadow: 2px 2px 3px teal;
}

h2 {
    text-shadow: 0px 0px 5px red
}

h3 {
    text-decoration: underline;
    text-decoration-style: wavy;
}

p{
    border: 2px dashed black;
    font-family: Consolas;
    color: maroon;
    padding: 10px;
    margin: 1%
}

footer {
    position: sticky;
    bottom: 0;
    height: 30px;
    line-height: 30px;
}

span.up {
    align-content: center;
}

li:nth-child(even) {
    background-color: gray;
}

@keyframes spin {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

.speen {
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container{ 
    background-color: rgb(241, 241, 241);
    display: flex;
}

.ldiv {
    border-left: 1px solid black;
}

.end {
    clear: both;
    background: lightgray;
}

#teal{
    color: teal
}
#tealbg{
    background-color: teal;
}

.fantastic {
    background-image: url("media/FANTASTIC WEBSITE.gif")
}

.inward{
    margin: 0px 50px 0px 50px;
    background-color: rgb(241, 241, 241);
}

.verdana{
    font-family: Verdana;
}

.right{
    text-align: right;
}

.bold{
    font-weight: bold;
}

.bitalic{
    font-style: italic;
    font-weight: bold;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.lined{
    border: 1px solid black;
    background-color: rgb(241, 241, 241);
    padding: 5px;
    border-collapse: collapse;
}

.box1{
    background-color: white;
    margin: auto 5px;
}

.box2{
    background-color: rgb(255, 212, 212);
    margin: auto 20px;
}

.box3{
    background-color: rgb(255, 152, 152);
    margin: auto 50px;
}

.box4{
    background-color: rgb(255, 99, 99);
    margin: auto 200px;
}

.box5{
    background-color: rgb(255, 0, 0);
    margin: auto 500px;
}

.box6{
    background-color: rgb(117, 0, 0);
    margin: auto 1200px;
}

.columns{
    float: left;
    width: 50%;
}

/* IDs (#) style one element and must be unique in an HTML file
while classes (.) style multiple elements in bulk */